/* common */
[v-cloak] {
  display: none;
}

body {
  background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #dadbd3 15%,
    #dadbd3 100%
  );
  height: 100vh;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* dark mode */
.dark {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark body {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}


.dark a {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark li {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark header {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark select {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark span {
  color: #fff !important;
}

.dark .profile:hover {
  color: black !important;
}

.dark .profile:not(#username):hover {
  color: black;
}

.dark .profile:not(#username):hover span {
  color: black !important;
}

.dark #username {
  color: #fff;
}

.dark .active-profile:hover {
  color: white !important;
}

.dark .active-profile h6 {
  color: white !important;
}

.dark .msg-menu {
  color: black !important;
}

.dark .right-col {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark .search-chat {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark .right-col .chat-input {
  background-color: #273443;
  color: #fff;
  border-color: #fff;
}

.dark .chat-field {
background-image: url("../img/mine-dark.jpg");
}

.dark .notif-alert {
  background-color: #5eaccd;
}

.dark .notif-alert a {
  background-color: #5eaccd;
  color: white !important;
}

.dark .notif-alert i {
  color: #5eaccd;
}

.dropdown-menu,
.dropdown-item {
  background-color: white !important;
  color: black !important;
}

.dropdown-item:hover {
  background-color: #eaeaea !important;
}

/* typo */

.light {
  font-weight: 300;
}

* {
  font-family: "Lato", sans-serif;
}

.font-size-12 {
  font-size: 12px;
}

/* colors */

:root {
  --header-color: #eaeaea;
  --icon-color: #b1b1b1;
  --dark-grey: #6a7378;
  --message-sent: #d5f9ba;
  --brand-color: #009688;
}

.bg-brand {
  background-color: var(--brand-color);
}

.bg-dark-grey {
  background-color: var(--dark-grey);
}

/* splash screen */
#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273443;
  z-index: 9999;
}

/* main container */

.main-container {
  height: calc(100vh - 40px);
  margin: auto;
  display: flex;
}

/* left column */

.left-col {
  background-color: #fff;
  min-height: calc(100vh - 40px);
  max-width: 25rem;
}

.profile {
  height: 70px;
  display: flex;
  padding: 0.625rem;
  justify-content: space-between;
  background-color: var(--header-color);
  align-items: center;
  position: relative;
}

.profile .last-msg-time {
  font-size: 0.6rem;
  position: absolute;
  top: 0.625rem;
  right: 0.3125rem;
}

.profile-info {
  display: flex;
  line-height: 0;
}

.circled-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent; /* Set a background color for the circle */
  text-align: center;
  line-height: 50px; /* vertically center the icon */
  object-fit: cover;
}

.header-left i {
  font-size: 1.25rem;
  color: var(--icon-color);
  margin-right: 1rem;
}

.notif-alert {
  background-color: #8edafc;
  padding: 0rem 1rem;
}

.notif-alert i {
  color: #8edafc;
}

.notif-alert-info {
  padding-left: 0.9375rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
}

.notif-alert-info a {
  font-size: 12px;
}

.search-chat {
  height: 40px;
  display: flex;
  padding: 0.3125rem 0.625rem;
  background-color: #fafafa;
}

.search-chat i {
  color: var(--icon-color);
  font-size: 0.9rem;
}

.search-chat div,
.search-chat input {
  background-color: white;
  border: 0.02rem solid #eaeaea;
  border-radius: 0;
}

.search-chat div {
  border-right: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.search-chat input {
  width: 100%;
  font-size: 0.75rem;
  border-left: 0;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.contact-list {
  overflow-y: auto;
}

.contact {
  background-color: #fff;
  border-bottom: 1px solid transparent;
}

.contact-list .contact:first-child {
  border-top: 1px solid transparent;
}

.contact-list .contact:last-child {
  border-bottom: none;
}

.contact:hover {
  background-color: var(--header-color);
}

/* popup css */
.button-confirm:hover {
  background-color: #00584f;
}

/* right column */

.right-col {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
}

.chat-field {
  flex-grow: 1;
  overflow-y: scroll;
  background-image: url("../img/mine.jpg");
}

.chat-input {
  height: 70px;
  display: flex;
  padding: 0.625rem 0;
  background-color: #f3eeea;
}

.chat-input-buttons {
  background-color: transparent;
  border: 0;
  color: var(--dark-grey);
  font-size: 1.5rem;
  margin: 0 2.1875rem;
  display: flex;
  align-items: center;
}

/* this overwrites the bootstrap css for inputs */
.form-control:focus {
  box-shadow: none;
  border-color: #eaeaea;
}

/* messages */

.message {
  position: relative;
  padding: 0.625rem;
  margin: 0.625rem;
  border-radius: 0.625rem;
  max-width: 40%;
  /* work break prevents long words from overflowing the container */
  word-break: break-word;
}

.message .msg-time {
  font-size: 0.6rem;
  color: var(--dark-grey);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.3125rem;
}

.message .msg-menu {
  display: none;
  color: var(--dark-grey);
  position: absolute;
  top: 0;
  right: 0.3125rem;
}

.message:hover .msg-menu {
  display: block;
}

.sent {
  background-color: var(--message-sent) !important;
  margin-left: auto;
  color: black !important;
}

.received {
  background-color: #fff !important;
  color: black !important;
}
